/*
 * NanumBarunpenR (Korean) https://github.com/midaeng/font
 * https://github.com/midaeng/font/blob/master/nanum_barunpen_r.css
 */
@font-face {
  font-family: 'Nanum Barunpen R';
  font-style: normal;
  font-weight: 400;

  src: url(//github.com/midaeng/font/blob/master/NanumBarunPenR/NanumBarunpenR.eot);
  src: url(//github.com/midaeng/font/blob/master/NanumBarunPenR/NanumBarunpenR.eot?#iefix) format('embedded-opentype'),
       url(//github.com/midaeng/font/blob/master/NanumBarunPenR/NanumBarunpenR.woff) format('woff'),
       url(//github.com/midaeng/font/blob/master/NanumBarunPenR/NanumBarunpenR.ttf) format('truetype');
}